.App-Layout {
    background: #f5f5f5;
    position: relative;
    height: 100%;
    min-height: 100vh;

    .sidebar-layout {
        background: #212121;
        height: 100vh;

        .sidebar-header {
            height: 65px;
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 0 15px;

            .applogo-building {
                display: flex;
                flex-flow: row;
                align-items: center;
                width: 90%;

                > img {
                    height: 35px;
                    width: auto;
                }

                span {
                    padding: 0 10px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .toggle-minimenu {
                display: flex;
                color: #fff;
                width: 10%;
                cursor: pointer;
            }
        }

        .sidebar-menu {
            display: flex;
            flex-flow: column;

            > a {
                color: #fff;
                text-decoration: none;
                transition: .5s all ease;
                padding: 10px 1.5em;
                border-top: 1px solid #424242;
                cursor: default;
                display: flex;
                align-items: center;

                &:not(.selected):hover {
                    background: rgba(255,255,255,0.1);
                    cursor: pointer;
                }

                &.selected {
                    border-left: 5px solid #fff;
                }

                span {
                    padding-left: 15px;
                }
            }
        }
    }

    .grid-append-body {
        display: flex;
        flex-flow: column;

        .header-layout {
            background: #424242;
            height: 65px;
            padding: 0 1.25em;

            .MuiGrid-container {
                height: 100%;
            }

            .layout-grid-column {
                display: flex;
                align-items: center;

                &.mat-align-right {
                    justify-content: flex-end;
                }
            }

            .nav-header-left {
                padding-left: 0;
                padding-right: 0;

                .search-field {
                    position: relative;
                    border-radius: 3px;
                    background-color: #767676;
                    margin-left: 0;
                    width: 100%;
                    transition: all .5s ease;

                    &:hover {
                        background-color: #bcbcbc;
                    }

                    .search-icon {
                        width: 50px;
                        height: 100%;
                        position: absolute;
                        pointer-events: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .seach-input {
                        padding-left: 50px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        width: 100%;
                    }
                }
            }

            .nav-header-right {
                color: #fff;
                text-align: right;
            }
        }

        .App-Body-Scale {
            height: auto;
            padding: 1.25em;
        }

        .footer-layout {
            background: #424242;
            width: 100%;
            text-align: center;
            padding: 7.5px 0;
            margin-top: auto;

            p {
                font-size: 14px;
                color: #fff;
            }
        }
    }
}
