@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

@font-face {
  font-family: "Noto SansThai";
  font-weight: 300;
  src: url("./assets/fonts/NotoSansThai/NotoSansThai-Light.ttf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Noto SansThai";
  font-weight: 400;
  src: url("./assets/fonts/NotoSansThai/NotoSansThai-Regular.ttf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Noto SansThai";
  font-weight: 500;
  src: url("./assets/fonts/NotoSansThai/NotoSansThai-Medium.ttf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Noto SansThai";
  font-weight: 600;
  src: url("./assets/fonts/NotoSansThai/NotoSansThai-SemiBold.ttf");
  unicode-range: U+0E00- U+0E7F;
}

@font-face {
  font-family: "Noto SansThai";
  font-weight: 700;
  src: url("./assets/fonts/NotoSansThai/NotoSansThai-Bold.ttf");
  unicode-range: U+0E00- U+0E7F;
}

*,
html {
  font-family: "Noto Sans", "Noto SansThai", sans-serif;

    body {
        margin: 0;

        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
}
